#clock {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    background-color: black;
}

#toDoBox {
    opacity: 0.8;
    /* background-color: black; */
}

#listBox {
    color: white
}

#calendar {
    padding: 15px;
    width: 85%;
    background-color: antiquewhite;
    opacity: 0.7;
    margin-bottom: 20px;
}

#monthTitle span {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
}

.modal {
    width: 600px;
    z-index: 1;
}

.notThisMonth {
    opacity: 0.45;
}

.closeBtn {
    float: right;
    margin-right:20px;
    margin-top:10px;
    cursor: pointer;
}