#clock {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    background-color: black;
}

#toDoBox {
    /* background-color: black; */
}

#listBox {
    color: white
}

#calendar {
    background-color: antiquewhite;
    opacity: 0.7;
}

#monthTitle span {
    font-size: 28px;
    font-weight: bold;
}
